$c-example: (
	align-items: $SKIP_DECLARATION,
	display: $SKIP_DECLARATION,

	__image: (
		margin-right: $SKIP_DECLARATION,
		margin-bottom: 2em,
		width: $SKIP_DECLARATION
	),

	__text: (
		font-family: $SKIP_DECLARATION,
		font-size: 16px,
	)
);

$c-example-override: null !default;

.c-example {
	@include setDeclaration($c-example, $c-example-override, 'align-items');
	@include setDeclaration($c-example, $c-example-override, 'display');

	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 1em;

	&__image {
		@include setDeclaration($c-example, $c-example-override, '__image.margin-bottom');
		@include setDeclaration($c-example, $c-example-override, '__image.margin-right');
		@include setDeclaration($c-example, $c-example-override, '__image.width');
	}

	&__text {
		@include setDeclaration($c-example, $c-example-override, '__text.font-family');
		@include setDeclaration($c-example, $c-example-override, '__text.font-size');
	}
}
